<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">My Blog</a></h1>
        </div>

        <div>
            <h2><a href="">My first post</a></h2>
            <p>published: 18.07.2017, 12:14</p>
            <p>Go back to that state of pure being, where the ‘I am’ is still in its purity before it got contaminated with ‘I am this’ or ‘I am that.’ Your burden is of false self-identifications—abandon them all." My guru told me, "Trust me, I tell you: you are Divine. Take it as the absolute truth. Your joy is divine, your suffering is divine too. All comes from God. Remember it always. You are God, your will alone is done." I did believe him and soon realized how wonderfully true and accurate were his words. I did not condition my mind by thinking, "I am God, I am wonderful, I am beyond." I simply followed his instruction, which was to focus the mind on pure being, "I am," and stay in it. I used to sit for hours together, with nothing but the "I am" in my mind and soon the peace and joy and deep all-embracing love became my normal state. In it all disappeared—myself, my guru, the life I lived, the world around me. Only peace remained, and unfathomable silence</p>
        </div>

        <div>
            <h2><a href="">My second post</a></h2>
            <p>published: 17.07.2017, 12:14</p>
            <p>our real Identity as the birthless-deathless, infinite-eternal Absolute Awareness or Parabrahman, and Its play of emanated universal consciousness. For Maharaj, our only "problem" (an imagined one!) is a case of mistaken identity: we presume to be an individual, and, originally and fundamentally, we are not an individual, we are intrinsically always and only the Absolute</p>
        </div>
    </body>
</html>